@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* For screens smaller than 768px (tablets and mobiles) */
.mobile {
        border: 2px solid #f51111;
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
        margin: 50px;
        border-radius: 5px;
        background-color: transparent;
}
@media (max-width: 768px) {
  .grid {
    justify-content: center;
    align-items: center;
  }
  .mobile {
    margin: 10px;
  }
}
.project-head {
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 20px;
}
.zoom:hover {
    transform: scale(1.1); /* 150% zoom (adjust as needed) */
    transition: transform 0.3s ease; /* Smooth transition */
}
/* For screens smaller than 480px (mobiles) */
@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-item {
    width: 100%;
  }
  .card {
    flex-direction: column;
  }
}